@model Incident
@{
    ViewData["Title"] = $"Incidents - {ViewBag.Action}";
}
<div class="container-fluid" style="margin: 10px; padding: 20px;">
    <h1>@ViewBag.Action</h1>

    <form asp-action="AddEdit" asp-route-type="@ViewBag.Action" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row row-cols-2">
            @if (ViewBag.Action == "Add")
            {
                <div class="col form-group">
                    <label asp-for="ClientID">Client</label>
                    <select asp-for="ClientID"
                            asp-items="@new SelectList(ViewBag.Clients, "ClientID", "FullName")"
                            class="form-control">
                    </select>
                </div>
                <div class="col form-group">
                    <label asp-for="EmployeeID">Employee</label>
                    <select asp-for="EmployeeID"
                            asp-items="@new SelectList(ViewBag.Employees, "EmployeeID", "Name")"
                            class="form-control">
                        <option selected></option>
                    </select>
                </div>
            }
            else
            {
                <div class="col form-group">
                    <label asp-for="ClientID">Client</label>
                    <input class="form-control" value="@Model.Client.FullName" readonly="readonly"/>
                    <input type="hidden" asp-for="ClientID"/>
                </div>
                <div class="col form-group">
                    <label asp-for="EmployeeID">Employee</label>
                    <input class="form-control" value="@(Model.Employee != null ? Model.Employee.Name : "No Employee")" readonly="readonly"/>

                    <input type="hidden" asp-for="EmployeeID"/>
                </div>
            }


        </div>
        <div class="row">
            @if (ViewBag.Action == "Add")
            {
                <div class="col form-group">
                    <label asp-for="ItemID">Item</label>
                    <select asp-for="ItemID"
                            asp-items="@new SelectList(ViewBag.Items, "ItemID", "Name")"
                            class="form-control">
                    </select>
                </div>
            }
            else
            {
                <div class="col form-group">
                    <label asp-for="ItemID">Item</label>
                    <input class="form-control" value="@Model.Item.Name" readonly="readonly"/>
                    <input type="hidden" asp-for="ItemID"/>
                </div>
            }


            <div class="col form-group">
                <label asp-for="DateOpened">Date Opened</label>
                <input class="form-control" asp-for="DateOpened" readonly="@(ViewBag.Action != "Add")" placeholder="Date Opened"/>
            </div>
            <div class="col form-group">
                <label asp-for="DateClosed">Date Closed</label>
                <input class="form-control" asp-for="DateClosed" readonly="@(ViewBag.Action == "View" || Model.DateClosed != null)" placeholder="Date Closed"/>
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                <label asp-for="Title">Title</label>
                <input class="form-control" asp-for="Title" readonly="@(ViewBag.Action != "Add")" placeholder="Title"/>
            </div>

        </div>

        <div class="row">
            <div class="col form-group">
                <label asp-for="Description">Description</label>
                <textarea class="form-control" aspreadonlyfor="Description" readonly="@(ViewBag.Action != "Add")" asp-for="Description" placeholder="Despcription">@Model.Description</textarea>
            </div>

        </div>


        <input type="hidden" asp-for="IncidentID"/>
        @if (ViewBag.Action == "View")
        {
            <a asp-action="Edit" asp-route-incidentId="@Model.IncidentID" class="btn btn-primary">Edit</a>
            <a asp-action="Incidents" class="btn btn-primary">Back</a>
        }
        else
        {
            <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
            <a asp-action="Incidents" class="btn btn-primary">Cancel</a>
        }

    </form>
</div>