@model Item
@{
    ViewData["Title"] = $"Items - {ViewBag.Action}";
}
<div class="container-fluid">
    <h1>@ViewBag.Action</h1>

    <form asp-action="AddEdit" asp-route-type="@ViewBag.Action" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ItemCode">Item Code</label>
            <input class="form-control" asp-for="ItemCode" disabled="@(ViewBag.Action == "View")" placeholder="Item Code"/>
        </div>

        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name" disabled="@(ViewBag.Action == "View")" placeholder="Name"/>
        </div>


        <div class="form-group">
            <label asp-for="YearlyPrice">Yearly Price</label>
            <input class="form-control" asp-for="YearlyPrice" disabled="@(ViewBag.Action == "View")" placeholder="Yearly Price"/>
        </div>

        <div class="form-group">
            <label asp-for="ReleaseDate">Release Date</label>
            <input class="form-control" asp-for="ReleaseDate" disabled="@(ViewBag.Action == "View")" placeholder="Release Date"/>
        </div>


        <input type="hidden" asp-for="ItemID"/>
        @if (ViewBag.Action == "View")
        {
            <a asp-action="Edit" asp-route-itemId="@Model.ItemID" class="btn btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-itemId="@Model.ItemID" class="btn btn-primary">Delete</a>
            <a asp-action="Items" class="btn btn-primary">Back</a>
        }
        else
        {
            <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
            <a asp-action="Items" class="btn btn-primary">Cancel</a>
        }

    </form>
</div>